<template>
    <div class="container" id="GoogleMap">
    	<div class="row">
    		<div class="col-3 sidebar">
        		<h2>Search Country</h2>
            <!-- Search box for filtering our countries -->
            <input type="text" v-model="countrySearch" placeholder="Search Countries..." class="searchBox" />
            <!-- Loop through each country, adding a link passing the latlng property, whilst setting up highlighting -->
        		<div v-for="country in filteredCountries">
                <a href="#" v-on:click="geolocate(country.latlng)"><text-highlight :queries="countrySearch">{{ country.name }}</text-highlight></a>
        		</div>
    		</div><!-- end sidebar -->  
    		<div class="col-9 map">
      			<h2>View Map</h2>
            <!-- Define our Google Map instance 
              Zoom levels:
              1: World
              5: Landmass/continent
              10: City
              15: Streets
              20: Buildings-->
       			<gmap-map
            ref="worldMap"
      			:center="center"
      			:zoom="3"
      			style="width:100%;  
      			height: 800px; 
            border: solid 1pt #221d26; 
            padding: 0; margin: 0"
    			>
    			</gmap-map>
    		</div><!-- end map -->
  		</div><!-- end row -->
  </div><!-- end container -->
</template>

<script>
// Import Axios for AJAX calls, in our case calling countries API
import axios from 'axios'

export default {
  name: "GoogleMap",
  data() {
    return {
    	   // We set the initial country to Canada
      	center: { lat: 60.0, lng: -95.0 },
        // Countries is where we will load all of our countries from the API
      	countries: [],
        // Country Search is our default string which will be passed to our filtered list
        countrySearch: ''
    };
  },
  // Load our Data
  mounted() {
    this.getCountries();
    this.getGeoJSON();
  },
  computed: {
    // Filter the countries based on what is entered in the searchbox. Eliminate case issues.
    filteredCountries: function() {
      return this.countries.filter((country) => {
        return country.name.toLowerCase().match(this.countrySearch.toLowerCase())
      });
    }
  },
  methods: {
  	// Function to reset the map country, passed from our link. Countries API returns latlng as an array
  	geolocate: function(latlng) {
  		this.center = {
  			lat: latlng[0],
  			lng: latlng[1] }
  	},
  	// Get the countries name and latitude details only
  	getCountries() {
        axios.get("https://restcountries.eu/rest/v2/all?fields=name;latlng")
        .then( response => {
          this.countries = response.data // Pass the data to our countries array
        }).catch( error => { 
          // eslint-disable-next-line no-console
          console.log(error); 
        });
    },
    // Get the geoJSON for all countries, world.json is a local asset
    getGeoJSON() {
         this.$refs.worldMap.$mapPromise.then((map) => {
            map.data.loadGeoJson('./world.json');
          })
    }
  }
}
</script>

<style>
.sidebar{
  background-color: #a6ca4d;
  text-align: left;
  border: solid 1pt #221d26;
  border-right: 0;
}
.sidebar a{
  color: white;
  font-weight: bold;
  }
  .sidebar a:hover{
    text-decoration: underline;
    color: #221d26;
  }
  .searchBox{
     border: solid 1pt #221d26;
     padding: 0.5em;
     color: gray;
     margin-bottom: 1rem;
     width: 100%;
  }
.map{
  background-color: #f9f9f9;
  border: solid 1pt #221d26;
}
</style>