<template>
  <div id="app">
    <div class="container">
    <header class="row">
      <div class="col-3">
        <img src="./assets/woodscamp-tree-logo-large-white.png" width=200px alt="Woodscamp Logo" />
      </div>
       <div class="col-9">
          <h1>DAVE THOMSON CUTE LITTLE MAP</h1>
      </div>
    </header>
  </div>
  <GoogleMap />
  </div>
</template>

<script>
// Import our map component
import GoogleMap from './components/GoogleMap.vue'

export default {
  name: 'app',
  components: {
    GoogleMap
  }
}
</script>

<style>
html, body, #app {
  min-height: 100%;
  margin: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  padding-bottom: 1rem
}

#app h2{
  color: #221d26;
  padding: 0.5rem 0;
}

header{
  background-color: #221d26;
  min-height: 7rem;
  padding-top: 2rem;
}
</style>
